rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any client to read and write to the entire database.
    // This is insecure and should not be used in production.
    // It is set this way to bypass a persistent issue with rules deployment
    // in the development environment.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
